* {
  box-sizing: border-box;
}

.background-photo {
  background-image: url(photo-project.jpeg);
  background-size: cover;
  margin: 0 auto;
}
.background-shadow {
  width: 100%;
  height: 100vh;
  background-color: rgba(8, 8, 8, 0.4);
}

button {
  cursor: pointer;
}

.header-text {
  color: white;
  font-weight: 600;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.7);
  border-style: outset;
}
.incomes-heading {
  color: white;
  font-weight: 600;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.outcomes-heading {
  color: white;
  font-weight: 600;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

p {
  color: white;
  font-weight: 400;
  font-size: 25px;
}
.sum-incomes-outcomes-style {
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.app-header {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-heading {
  font-weight: 800;
  font-size: 40px;
  color: white;
}
.logo-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border-style: outset;
}

.app-main {
  margin: 0 auto;

  width: 90%;
  display: flex;
  gap: 5%;
}

.incomes-wrapper {
  width: 100%;
  padding: 30px, 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-style: outset;
}

.outcomes-wrapper {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px, 15px;
  border-style: outset;
}
.incomes-list {
  padding: 0;
}
.list-income-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.income-list-element-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10%;
}
.outcome-list-element-wrapper {
  display: flex;
  align-items: center;
  gap: 10%;
}
.outcomes-wrapper {
  align-items: center;
  gap: 10%;
}
.incomes-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.outcomes-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}
